@model NewsBlock

<h2>@Model.Title</h2>
<div style="overflow-wrap: normal;
      word-wrap: normal; 
      word-break: normal; 
      line-break: auto; 
      hyphens: manual; 
      width: 75%;">@Model.Text</div>