@model Application.Areas.Methodist.Model.ScheduleBlockModel

<form asp-area="Methodist" asp-controller="Schedule" asp-action="SaveScheduleBlock" method="post">
    <input type="hidden" asp-for="BlockRef.Id" />
    <div asp-validation-summary="All"></div>
    <div class="div-box">
        <label asp-for="BlockRef.Title"></label>
        <input asp-for="BlockRef.Title" />
        <span asp-validation-for="BlockRef.Title"></span>
    </div>
    <div class="div-box">
        <select name="teacherId" asp-items="Model.TeachersRef"></select>
    </div>
    <div class="div-box">
        <label asp-for="BlockRef.Audience"></label>
        <input asp-for="BlockRef.Audience" />
        <span asp-validation-for="BlockRef.Audience"></span>
    </div>
    <div class="div-box">
        <select name="groupId" asp-items="Model.GroupsRef"></select>
    </div>
    <input type="submit" value="Сохранить" />
</form>
