@model Application.Areas.Methodist.Models.MethodistModel

<div class="row">
    <h1>Студенти</h1><hr />
    <form asp-area="Methodist" method="post">
        <button asp-controller="Student" asp-action="AddStudent" type="submit">Додати студента</button>
        <select name="studentID" asp-items="Model.Students"></select>
        <button asp-controller="Student" asp-action="EditStudent" type="submit">Редагувати</button>
        <button asp-controller="Student" asp-action="DeleteStudent" type="submit">Видалити</button>
    </form>
</div>
<hr />
<div class="row">
    <h1>Вчителі</h1><hr />
    <form asp-area="Methodist" method="post">
        <button asp-controller="Teacher" asp-action="AddTeacher" type="submit">Додати вчителя</button>
        <select name="teacherID" asp-items="Model.Teachers"></select>
        <button asp-controller="Teacher" asp-action="EditTeacher" type="submit">Редагувати</button>
        <button asp-controller="Teacher" asp-action="DeleteTeacher" type="submit">Видалити</button>
    </form>
</div>
<div class="row">
    <h1>Групи</h1><hr />
    <form asp-area="Methodist" method="post">
        <button asp-controller="Group" asp-action="AddGroup" type="submit">Додати групу</button>
        <select name="groupID" asp-items="Model.StudentGroups"></select>
        <button asp-controller="Group" asp-action="EditGroup" type="submit">Редагувати</button>
        <button asp-controller="Group" asp-action="DeleteGroup" type="submit">Видалити</button>
    </form>
</div>